

.nav {
  font-weight: 900;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);



  padding: 1rem;

  h1 {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px #676767;

  }

  &--crimson {
    background-color: crimson;
  }

}


ul.navigation {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #f9f9f9;
  }
}
