*:after, *:before, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$background-color: #FDFDFD;

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  background-color: $background-color;
  color: rgb(36, 36, 36);
}


main ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
