*:after, *:before, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* { box-sizing: border-box; }


body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  background-color: $background-color;
  color: rgb(36, 36, 36);
}

main {
  padding: 1rem;
}

main.hacker-news ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}


.link {
  color: $black;
  font-weight: 400;
  transition: all 0.3s;

  &.active {
    font-weight: 700;
  }
}
